# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache

# Rider directories
.idea/

# VS Code directories
.vscode/
.vs/
.vscode-test/

# DotNet Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Publish Web Output
*.Publish.xml
*.azurePubxml
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings
*.PublishSettings

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml
